body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    color: #007bff;
}

.careers {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-group-item h5 {
    margin-bottom: 0.5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.team-member-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #007bff; /* Optional: adds a border to the image */
}
